 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles


    //TOP OF PAGE (header/navigation bar)
.header {
  background-color: RGB(245, 245, 245);
  height: 65px;
  border-bottom: solid gray;
  border-width: 1px;
  padding-left: 160px;
}

.mega-octicon {
  font-size: 32px;
  padding-left: 20px;
  padding-top: 10px;
  margin-left: 15px;
}

input {
  line-height: normal;
  margin-left: 8px;
  border-radius: 3px;
  width: 400px;
  height: 35px;
  color: lightgray;
  font-size: 13px;
  margin-right: 10px;
}

.hlinks {
  word-spacing: 12px;
  font-weight: bold;
  font-size: 15px;
}

.littimg {
  width: 25px;
  margin-left: 140px;
  padding-top: 20px;
}

.nam {
  font-weight: bold;
  font-size: 15px;
}

.nam:hover {
  color: RGB(65, 131, 196);
}

.input2 {
    line-height: normal;
    margin-left: 8px;
    border-radius: 3px;
    width: 300px;
    height: 35px;
    color: lightgray;
    font-size: 13px;
    margin-right: 10px;
}





    //LEFT SIDE OF PAGE

.leftside {
  width: 225px;
  height: 620px;
  float: left;
  margin-top: 20px;
  margin-left: 150px;
  clear: right;
}

img {
  width: 230px;
  border-radius: 3px;
}

.info {
  list-style: none;
  padding: 0;
}

.na {
  display: block;
  font-size: 26px;
  font-weight: bold;
}

.lo {
  font-size: 20px;
  color: lightslategray;
  padding-bottom: 15px;
  //border-bottom: solid 1px;
  //margin-right: 0px;
}

.octicon-mail:before {
  content: '\f03b';
  padding-right: 6px;
  color: lightslategray;
}

.mid {
  list-style: none;
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  //border-bottom: solid 1px;
  //margin-right: 1020px;
  color: lightslategray;
}

.em {
  padding-bottom: 4px;
  color: RGB(65, 131, 196);
}

.ca {
  padding-top: 4px;
  color: black;
}

.octicon-clock:before {
  content: '\f046';
  padding-right: 6px;
  color: lightslategray;
}

.foll {
  display: inherit;
  list-style: none;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;

    .fers, .fing {
      font-size: 30px;
    }

    .fow, .folw {
      font-size: 10px;
    }
}


  //RIGHT SIDE OF PAGE

main {
  background: #FFF;
  width: 100%;
  margin: 0px auto;
  padding: 10px 30px 30px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

p {
  font-size: 14px;
  line-height: 21px;
}
#tab1, #tab2, #tab3, section {
  clear: both;
  padding-top: 10px;
  display: none;
}
label {
  color: RGB(51, 51, 51);
  font-weight: bold;
  font-size: 14px;
  display: block;
  float: left;
  padding: 10px 30px;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #C9C2BE;
  border-radius: 3px;
}
label:hover {
  cursor: pointer;
}
#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4 {
  display: block;
}
input:checked + label {
  border-top-color: #C9C2BE;
  border-right-color: #C9C2BE;
  border-left-color: #C9C2BE;
  border-bottom-color: transparent;
  text-decoration: none;
}

.octicon-diff-added:before {
content: '\f06b';
padding-right: 6px;
}

.octicon-repo-delete:before, .octicon-repo:before {
content: '\f001';
padding-right: 6px;
}

.octicon-rss:before {
content: '\f034';
padding-right: 6px;
}

.editprofile, .searchbutt {
  border-radius: 2px;
  border: solid 1px;
  background-color: HSLA(0, 0%, 98%, 1);
  border-color:RGB(204, 204, 204);
  font-weight: bold;
  font-size: .8em;
}

.bottom_half{
  padding: 5px;
}

.link{
  color: RGB(65, 131, 196);
  font-size: 14px;
  display: inline-block;
  margin-right: 9px;
  text-decoration: none;
}

.all{
 color:black;
 font-weight: bold;
  font-size: 12px;
  margin-right: 15px;
  text-decoration: none;
}

.bottom_search{
  font-weight: 200;
  width:260px;
  height:35px;
}

.newbutt{
  border-radius: 3px;
  border: solid 1px ;
  background-color: HSLA(104, 51%, 57%, 1);
  font-size: 15px;
  color: white;
}

a{
  text-decoration: none;
}

.tabs{
  height: 135px;
  width: 745px;
  border-top: solid 1px RGB(204, 204, 204);
}
.repoName{
  color: HSLA(210, 53%, 51%, 1);
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 20px;
  width: 300px;
  display: inline-block;
  margin-top: 50px;
&:hover{
  text-decoration:underline;
}
}

.update{
  color: gray;
  width: 300px;
  font-weight: 200;


}
.right{
  float: right;
  color: gray;
  font-size: .8em;
  padding: 5px;
  font-weight: bold;
  margin-top: -41px;
}
