 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles


    //TOP OF PAGE (header/navigation bar)
.header {
  background-color: RGB(245, 245, 245);
  height: 65px;
  border-bottom: solid gray;
  border-width: 1px;
  padding-left: 160px;
}

.mega-octicon {
  font-size: 32px;
  padding-left: 20px;
  padding-top: 10px;
  margin-left: 15px;
}

input {
  line-height: normal;
  margin-left: 8px;
  border-radius: 3px;
  width: 400px;
  height: 35px;
  color: lightgray;
  font-size: 13px;
  margin-right: 10px;
}

.hlinks {
  word-spacing: 12px;
  font-weight: bold;
  font-size: 15px;
}

.littimg {
  width: 25px;
  margin-left: 140px;
  padding-top: 20px;
}

.nam {
  font-weight: bold;
  font-size: 15px;
}

.nam:hover {
  color: RGB(65, 131, 196);
}

.octicon-octicon-plus {
  margin-left: 25px;
}




    //LEFT SIDE OF PAGE

.leftside {
  margin-top: 20px;
  margin-left: 180px;
}

img {
  width: 230px;
  border-radius: 3px;
}

.info {
  list-style: none;
  padding: 0;
}

.na {
  display: block;
  font-size: 26px;
  font-weight: bold;
}

.lo {
  font-size: 20px;
  color: lightslategray;
  padding-bottom: 15px;
  //border-bottom: solid 1px;
  //margin-right: 0px;
}

.octicon-mail:before {
  content: '\f03b';
  padding-right: 6px;
  color: lightslategray;
}

.mid {
  list-style: none;
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  //border-bottom: solid 1px;
  //margin-right: 1020px;
  color: lightslategray;
}

.em {
  padding-bottom: 4px;
  color: RGB(65, 131, 196);
}

.ca {
  padding-top: 4px;
  color: black;
}

.octicon-clock:before {
  content: '\f046';
  padding-right: 6px;
  color: lightslategray;
}

.foll {
  display: inherit;
  list-style: none;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;

    .fers, .fing {
      font-size: 30px;
    }

    .fow, .folw {
      font-size: 10px;
    }
}


  //RIGHT SIDE OF PAGE

.accordion-tabs-minimal {
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-content-background: $base-background-color;
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;

  @include clearfix;
  margin-bottom: $base-spacing;

  li.tab-header-and-content {
    @include media($tab-mode) {
      display: inline;
    }
  }

  a.tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $dark-gray;
    display: block;
    font-weight: 400;
    padding: $base-spacing/2 $gutter;

    @include media($tab-mode) {
      @include inline-block;
      border-top: 0;
    }

    &:hover {
      color: $base-link-color;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;

      @include media($tab-mode) {
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    display: none;
    padding: $base-spacing $gutter;

    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
    }
  }
}
