<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>assign9</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>




    <div class="header">
      <span class="mega-octicon octicon-mark-github"></span>
        <input type="text" name="input" value="Search GitHub">
          <span class='hlinks'>Explore Gist Blog Help</span>

    </div>

  <!-- End of Navigation Bar -->
  <!-- Start of Left column -->

    <div class='leftside'>
    </div>

  <!-- Start of Repositories -->

      <div class='rightside'>
         <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">
    <span class="octicon octicon-diff-added"></span>Contributions</label>
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">
    <span class="octicon octicon-repo"></span>Repositories</label>
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3"><span class="octicon octicon-rss"></span>Public Activity</label>

       <button class="edit_profile">
        <span class="octicon octicon-pencil"></span>
        Edit Profile
      </button>


  <section id="content1">
    <p>Vivamus convallis lectus lobortis dapibus ultricies. Sed fringilla vitae velit id rutrum. Maecenas metus felis, congue ut ante vitae, porta cursus risus. Nulla facilisi. Praesent vel ligula et erat euismod luctus.</p>
  </section>
  <section id="content2">
    <input class='input2' type="text" name="input" value="Find a Repository...">
  </section>
  <section id="content3">
    <p>Fusce pulvinar porttitor dui, eget ultrices nulla tincidunt vel. Suspendisse faucibus lacinia tellus, et viverra ligula. Suspendisse eget ipsum auctor, congue metus vel, dictum erat. Aenean tristique euismod molestie. Nulla rutrum accumsan nisl, ac semper sapien tincidunt et. Praesent tortor risus, commodo et sagittis nec, aliquam quis augue. Aenean non elit elementum, tempor metus at, aliquam felis.</p>
  </section>
</div>



    <!-- Scripts/Templates -->

    <script type="text/template" id="heading">
      <img class='littimg' src="<%= avatar_url %>" />
        <span class='nam'>wendynichols</span>
        <span class="octicon octicon-plus"></span>
          <span class="octicon    octicon-inbox"></span>
          <span class="octicon octicon-gear"></span>
        <span class="octicon octicon-sign-in"></span>

      </script>


      <script type="text/template" id="user_stuff">
        <img src="<%= avatar_url %>" />

      <ul class='info'>
        <li class='na'><%= name %></li>
        <li class='lo'><%= login %></li>
          <ul class='mid'>
        <li class='em'><span class="octicon octicon-mail"></span> <%=email%></li>
        <li class='ca'><span class="octicon octicon-clock"></span><%= created_at %></li>
          </ul>
          <div class='foll'>
        <div class='fers'><%= followers %></div>
          <span class='fow'>Followers</span>
        <div class='fing'><%= following %></div>
          <span class='folw'>Following</span>
        </div>
      </ul>
    </script>




    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <script src="scripts/token.js"></script>
        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
