<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>assign9</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
     <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>




    <div class="header">
      <span class="mega-octicon octicon-mark-github"></span>
        <input type="text" name="input" value="Search GitHub">
          <span class='hlinks'>Explore Gist Blog Help</span>

    </div>




    <div class='leftside'>

    </div>








      <script type="text/template" id="user_stuff">
        <img src="<%= avatar_url %>" />

        <ul class='info'>
        <li class='na'><%= name %></li>
        <li class='lo'><%= login %></li>

        <li><span class="octicon octicon-mail"></span>Email: <%=email%></li>
        <li><%= created_at %></li>
        <li><%= followers %></li>
        <li><%= following %></li>
        </ul>
        </script>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <script src="scripts/token.js"></script>
        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
